
h1 {
    color: rgb(4, 1, 2);
    text-align: center;
    border: 5px rgb(40, 31, 31) solid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

p{
    color: rgb(243, 43, 73);
    text-align:justify;
    border: 5px rgb(40, 31, 31);
    border-style: dashed;
    padding: 30px;
    line-height: 30px;
}

#oh{
    background-image: url("../img/gambar1.jpg");
    background-size: cover;
}

#oh h1{
    background-color: transparent;
    border: none;
}

#kotaksatu{
    width:50px;
    height:50px;
    background-color: red;
    display: inline-block;
}

#kotakdua{
    width: 50px;
    height: 50px;
    background-color: rgb(238, 112, 133);
    margin-top: 5px;
    display: inline-block;
}

#lingkaran{
    width:50px;
    height: 50px;
    background-color: rgb(222, 87, 87);
    border-radius: 50px;
    display: inline-block;
}

#persegipanjang{
    width: 80px;
    height: 50px;
    background-color: rgb(233, 156, 180);
    display: inline-block;
}

#segitiga{
    
    border-bottom:solid 70px rgb(243, 11, 11) ;
    border-left:solid 40px transparent ;
    border-right:solid 40px transparent;
    display: inline-block;
}


